# True for development, False for production
DEBUG=True
SECRET_KEY=<STRONG_KEY_HERE>
CSRF_TRUSTED_ORIGINS=http://192.168.1.66:5085
DJANGO_SUPERUSER_PASSWORD=demo

# DB_ENGINE=mysql
# DB_HOST=localhost
# DB_NAME=appseed_db
# DB_USERNAME=appseed_db_usr
# DB_PASS=pass
# DB_PORT=3306

# APPMSW_PARAM_NANE=YDB
# APPMSW_PARAM_NANE=GTM
# APPMSW_PARAM_NANE=Cache
APPMSW_PARAM_NANE=IRIS
